@model StudentTracker.Core.Entities.Subject

@{
    ViewBag.Title = "Create";
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Subject
                      <span class="mini-title">Simple form for new Subject
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.SubjectName, new { placeholder = "Subject Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectDescription, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.SubjectDescription, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectDescription)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" onclick="Save(event)" id="btnAddOrg">Add Subject</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


