@model StudentTracker.Core.Entities.Subject
@{
    ViewBag.Title = "Create";
    string token = DateTime.UtcNow.Ticks.ToString();
}
@Html.Hidden("token", token)
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Modify Subject
                      <span class="mini-title">Update Subject Data.
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.HiddenFor(m => m.SubjectId)
                    @Html.HiddenFor(m => m.InsertedOn)
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6", onChange = "GetData(event)", action = "GetCourses", getType = "Course" })
                            }
                            else
                            {
                                <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6", onChange = "GetData(event)", action = "GetClasses", getType = "Class" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "Select Class", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.SubjectName, new { placeholder = "Subject Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectDescription, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.SubjectDescription, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectDescription)
                        </div>
                    </div>
                    <div class="control-group">
                        @HelperAssets.FileUploadHtml()
                    </div>
                            Html.RenderAction("ShowAttachedFiles", "Files", new { itemid = Model.SubjectId, type = this.ViewContext.Controller.GetType().Name, isEditMode = true });

                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="Edit" onclick="Save(event)" id="btnAddOrg">Update Subject</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


@HelperAssets.FileUploadScript(token);