@model StudentTracker.Core.Entities.Subject
@{
    ViewBag.Title = "Create";
    string token = DateTime.UtcNow.Ticks.ToString();
}
@Html.Hidden("token", token)
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title textAlign">
                        Modify Subject
                    </div>
                    <span class="tools tls2">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="Edit" onclick="Save(event)" id="btnAddOrg">Save Changes</a>
                        <a class="btn btn-info" href="/Subject" data-original-title="">Cancel</a></span>
                </div>
                <div class="widget-body">

                    @Html.HiddenFor(m => m.SubjectId)
                    @Html.HiddenFor(m => m.InsertedOn)
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6", onChange = "GetData(event)", action = "GetCourses", getType = "Course" })
                            }
                            else
                            {
                                <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6", onChange = "GetData(event)", action = "GetClasses", getType = "Class" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "Select Class", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.SubjectName, new { placeholder = "Subject Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SubjectDescription, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.SubjectDescription, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SubjectDescription)
                        </div>
                    </div>
                    <div class="control-group">
                        @HelperAssets.FileUploadHtml()
                    </div>
                    @{Html.RenderAction("ShowAttachedFiles", "Files", new { itemid = Model.SubjectId, type = this.ViewContext.Controller.GetType().Name, isEditMode = true });
                    }
                </div>
            </div>
        </div>

    </div>
}

@HelperAssets.FileUploadScript(token);