@model StudentTracker.Core.Entities.Schedule
@{
    ViewBag.Title = "Details";
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Schedule Detail
                      <span class="mini-title">Simple form for Display Schedules
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.ScheduleId)
                    <div class="control-group">
                        @Html.LabelFor(m => m.ScheduleName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ScheduleName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.Description)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.OrganizationName)

                        </div>
                    </div>
                    <div class="control-group">
                         @Html.LabelFor(m=>m.CourseName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m=>m.CourseName)

                        </div>
                    </div>
                    <div class="control-group">
                         @Html.LabelFor(m=>m.ClassName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m=>m.ClassName)

                        </div>
                    </div>
                    <div class="control-group">
                         @Html.LabelFor(m=>m.SubjectName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m=>m.SubjectName)

                        </div>
                    </div>
                     <div class="control-group">
                         @Html.LabelFor(m=>m.DepartmentName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m=>m.DepartmentName)

                        </div>
                    </div>
                    <div class="control-group">
                         @Html.LabelFor(m=>m.ClassName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m=>m.ClassName)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.StartTime, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.StartTime)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.EndTime, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.EndTime)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.InsertedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ModifiedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedOn)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" action="Edit" class="btn btn-primary" href="javascript:;" itemId="@Model.ScheduleId" onclick="Edit(event)" id="lnkEdit">Edit</a>

                        <div class="clearfix">
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
