@model StudentTracker.Core.Entities.Template
@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title textAlign">
                        Create Template
                                                
                    </div>
                    <span class="tools tls2">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" onclick="Save(event)" id="btnAdd">Save</a>
                        <a class="btn btn-info" href="/Template" data-original-title="">Cancel</a></span>

                </div>
                <div class="widget-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                                @Html.ValidationMessageFor(m => m.OrganizationId)
                            }
                            else
                            {
                                <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.TemplateTypeId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.TemplateTypeId, Model.TemplateTypeList, "Select Template", new { Class = "span6", onChange = "GetFormattingFields(event)" })
                            @Html.ValidationMessageFor(m => m.TemplateTypeId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Name, new { Class = "control-label" })
                        <div class="controls">

                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Template Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Name)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.TemplateText, new { Class = "control-label" })
                        <div class="controls wysiwyg-container">

                            @Html.TextAreaFor(m => m.TemplateText, new { Class = "wysiwyg input-block-level", style = "height: 200px" })
                            @Html.ValidationMessageFor(m => m.TemplateText)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls">

                            @Html.TextAreaFor(m => m.Description, new { placeholder = "Template Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Description)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.IsActive, new { Class = "control-label" })
                        <div class="controls">
                            <input type="checkbox" class="chkActive" name="IsActive" />
                        </div>
                    </div>
                    <div class="form-actions no-margin">

                        <div class="clearfix">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<style type="text/css">
    .dashboard-wrapper .left-sidebar {
        margin-right: 260px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //wysihtml5
        $('.wysiwyg').wysihtml5();
        $('.divInstructions').show();
        $('.divRight').hide();

        $('.chkActive').change(function (e) {
            if (e.target.checked) {
                $(e.target).val(true);
            }
            else {
                $(e.target).val(false);
            }
        });
    });
</script>
