@model StudentTracker.Core.Entities.Course

@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title textAlign">
                        Course Details
                     
                    </div>
                    <span class="tools tls2">
                        <a name="submit" action="Edit" class="btn btn-primary" href="javascript:;" itemId="@Model.CourseId" onclick="Edit(event)" id="lnkEdit">Edit</a>
                        <a class="btn btn-info" href="/Course" data-original-title="">Cancel</a></span>
                </div>
                <div class="widget-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.CourseId)
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.CourseName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseDescription, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.CourseDescription)

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Organization</label>
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.OrganizationName)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.InsertedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CreatedBy, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedByName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ModifiedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ModifiedByName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedByName)
                        </div>
                    </div>
                    @{
    Html.RenderAction("ShowAttachedFiles", "Files", new { itemid = Model.CourseId, type = this.ViewContext.Controller.GetType().Name });
                    }
                </div>
            </div>
        </div>

    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#data-table').dataTable({
            "sPaginationType": "full_numbers"
        });

        //EDIT
        $('#lnkEdit').click(function () {
            var url = $(this).attr('action');
            var id = $('#CourseId').val();
            LoadCourses(url, id);
        });

    });


</script>


