@model StudentTracker.Core.Entities.Course

@{
    ViewBag.Title = "Create";
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Modify Course
                      <span class="mini-title">Simple form for modify Course
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.CourseId)
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.HiddenFor(m => m.InsertedOn)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganisationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganisationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                                
                            }
                            else
                            {
                                @ViewBag.Organization
                                @Html.HiddenFor(m => m.OrganisationId)
                            }
                            @Html.ValidationMessageFor(m => m.OrganisationId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.CourseName, new { placeholder = "Course Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseDescription, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.CourseDescription, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseDescription)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="Edit" onclick="Save(event)" id="btnAdd">Save Changes</a>
                        <div class="clearfix Error">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jqueryval")

