@model IEnumerable<StudentTracker.Core.Entities.Course>

@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    View Cources<a id="dynamicTable"></a>
                </div>
                <span class="tools">
                    <a id="lnkAddNew" class="btn btn-info tools2" href="#" onclick="LoadAjax(event)" action="Create">New
                    </a>
                </span>
            </div>
            <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination">
                    <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                        <thead>
                            <tr class="bluRow">
                                <th>CourseName          </th>
                                <th>CourseDescription   </th>
                                <th>Organization Name          </th>
                                <th>InsertedOn          </th>
                                <th>Modified Date</th>
                                <th>Manage Courses</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CourseName          </td>
                                    <td>@item.CourseDescription   </td>
                                    <td>@item.OrganizationName          </td>
                                    <td>@item.InsertedOn          </td>
                                    <td>@item.ModifiedOn</td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                                Action 
                               
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="lnkDetails" href="#" itemId="@item.CourseId" action="Details" onclick="LoadViewById(event)">Details</a>
                                                </li>
                                                <li>
                                                    <a class="lnkEdit" href="#" action="Edit" itemId="@item.CourseId" onclick="LoadViewById(event)">Edit</a>
                                                </li>
                                                <li>
                                                    <a class="lnkDelete" href="#" itemId="@item.CourseId" action="DeleteConfirmed" onclick="Delete(event)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix Error">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if (Request.IsAjaxRequest())
{
    @HelperAssets.DataTable()
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lnkViewAll').addClass('selected');
        });
    </script>
}
