@model IEnumerable<StudentTracker.Core.Entities.Course>

@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    View Cources<a id="dynamicTable">e</a>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                </span>
            </div>
            <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination">
                    <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                        <thead>
                            <tr>
                                <th>CourseName          </th>
                                <th>CourseDescription   </th>
                                <th>InsertedOn          </th>
                                <th>Inserted By          </th>
                                <th>Manage Courses</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.CourseName          </th>
                                    <th>@item.CourseDescription   </th>
                                    <th>@item.InsertedOn          </th>
                                    <th>@item.CreatedBy          </th>
                                    <td>
                                        <a href="#" class="lnkEdit" action="Edit" itemId="@item.CourseId">Edit</a>
                                        <a href="#" class="lnkDetails" itemId="@item.CourseId" action="Details">Details</a>
                                        <a href="#" class="lnkDelete" itemId="@item.CourseId" action="DeleteConfirmed">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix Error">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#data-table').dataTable({
            "sPaginationType": "full_numbers"
        });

        //EDIT
        $('.lnkEdit').click(function () {
            var url = $(this).attr('action');
            var id = $(this).attr('itemId');
            LoadCourses(url, id);
        });

        //DETAILS
        $('.lnkDetails').click(function () {
            var url = $(this).attr('action');
            var id = $(this).attr('itemId');
            LoadCourses(url, id);
        });

        //DELETE
        $('.lnkDelete').click(function () {
            var url = $(this).attr('action');
            var id = $(this).attr('itemId');
            $.ajax({
                type: 'POST',
                url: '/Course/' + url,
                data: {
                    id: id
                },
                success: function (response) {
                    if (response == 'True') {
                        LoadAjax('ViewCourses');
                    }
                    else {
                        $('.Error').html(data);
                    }
                },
                error: function () { }
            });
        });
    });


</script>

