@model StudentTracker.ViewModels.StaffViewModel
@using StudentTracker.Core.Entities
@{
    ViewBag.Title = "CreateStaff";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
</div>
<div class="dashboard-wrapper">
    @using (Html.BeginForm("Edit", "Staff", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="left-sidebar">
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.StaffPermission.Id)
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">
                                Edit Staff
                            </div>
                            <span class="tools tls2">
                                <a class="btn btn-info" href="#" id="lnkSave" data-original-title="">Save</a>
                                <a class="btn btn-info" href="/Staff" data-original-title="">Cancel</a></span>
                        </div>


                        <div class="widget-body">
                            <div class="container-fluid">

                                <div class="row-fluid">
                                    <div class="span3">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="/img/profile.png"><a class="file-input-wrapper btn btn-info cangePic" data-original-title="">
Change Picture
                                                        <input type="file">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="span9">
                                        <form class="form-horizontal">

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Title
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Title, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Title)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    First Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.FirstName)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Last Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.LastName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.LastName)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    DOB
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "span8 txtDateFormat" })
                                                    @Html.ValidationMessageFor(x => x.DateOfBirth)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Phone
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.MobileNumber)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Home
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.HomeTelephoneNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.HomeTelephoneNumber)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Email
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Staff Type
                                                </label>
                                                <div class="controls">
                                                    @Html.DropDownListFor(m => m.StaffTypeId, Model.StaffTypeList, "Select Staff Type")
                                                    @Html.ValidationMessageFor(x => x.StaffTypeId)
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row-fluid">

                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Assign Department/Classes
                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="span12">

                                <div class="widget-body topUp">
                                    <table class="table table-bordered no-margin">
                                        <tbody>
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                if (i + 1 > Model.Count)
                                                { 
                                                <tr style="display: none" class="tableRow">
                                                    <td class="tdCourse">
                                                        @Html.DropDownListFor(m => m.ListFields[i].CourseId, Model.ListFields[i].CourseList, "Select Course", new { onChange = "loadClass(event)", Class = "selectList Course", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.CourseId)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.ListFields[i].DepartmentId, Model.ListFields[i].DepartmentList, "Select Department", new { Class = "selectList Department", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.DepartmentId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].ClassId, Model.ListFields[i].ClassList, "Select Class", new { onChange = "loadSection(event)", id = "ClassId", Class = "Class selectList", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.ClassId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].SectionId, Model.ListFields[i].SectionList, "Select Section", new { id = "SectionId", Class = "Section selectList", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.SectionId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].SubjectId, Model.ListFields[i].SubjectList, "Select Subject", new { id = "SectionId", Class = "Subject selectList", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.SubjectId)
                                                    </td>
                                                    <td>
                                                        <a onclick="updateCourseDepartments(event)" style="display: none" class="lnkSave btn btn-info">Save</a>
                                                    </td>
                                                    <td class="hidden-phone tdLast" style="width: 90px;">
                                                        <div class="dropdown">
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                                else
                                                {
                                                <tr class="tableRow">
                                                    <td>
                                                        @Html.DropDownListFor(m => m.ListFields[i].CourseId, Model.ListFields[i].CourseList, "Select Course", new { onChange = "loadClass(event)", action = "GetClasses", getType = "Class", Class = "Course" })
                                                        @Html.ValidationMessageFor(m => m.CourseId)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.ListFields[i].DepartmentId, Model.ListFields[i].DepartmentList, "Select Department", new { Class = "Department" })
                                                        @Html.ValidationMessageFor(m => m.DepartmentId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].ClassId, Model.ListFields[i].ClassList, "Select Class", new { onChange = "loadSection(event)", id = "ClassId", Class = "Class" })
                                                        @Html.ValidationMessageFor(m => m.ClassId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].SectionId, Model.ListFields[i].SectionList, "Select Section", new { id = "SectionId", Class = "Section" })
                                                        @Html.ValidationMessageFor(m => m.SectionId)
                                                    </td>
                                                    <td class="hidden-phone">
                                                        @Html.DropDownListFor(m => m.ListFields[i].SubjectId, Model.ListFields[i].SubjectList, "Select Subject", new { id = "SectionId", Class = "Subject" })
                                                        @Html.ValidationMessageFor(m => m.SubjectId)
                                                    </td>
                                                    <td>
                                                        <a onclick="updateCourseDepartments(event)" class="lnkSave btn btn-info" id="@Model.ListFields[i].Id">Save</a>
                                                    </td>
                                                    <td class="hidden-phone tdLast" style="width: 90px;">
                                                        @if (i + 1 == Model.Count)
                                                        {
                                                            <div class="dropdown">
                                                                <a onclick="addMore(event)" class="lnkAddMore btn btn-info" id="">Add More</a>
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @*Permissions*@
            <div class="row-fluid">

                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Permissions: <span>set permissions for your staff</span>
                            </div>
                            <div class="clearfix">
                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="span12">

                                <div class="messge">
                                    <h2>Communication</h2>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="span6">

                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Send Email</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.SendEmail)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">View Email</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewEmail)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Send eLetters</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.SendEletter)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">View eLetters</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewEletter)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">Send SMS</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.SendSms)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="span6">
                                                <ul>
                                                    <li>
                                                        <div class="spanLft">View SMS</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewSms)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Absent Reporting</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.AbsentReporting)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Print Letters</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.PrintLetters)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">Top Up SMS Balance</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.TopUpSMSBalance)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <h2>Payments</h2>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="span6">

                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Fee</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageFee)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Create And Manage Trips</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageTrips)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Create And Manage Tickets</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageTickets)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Shop</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageShop)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="span6">
                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Manage Refunds</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManageRefunds)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Manage Cash Payments</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManageCashPayments)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Manage Orders</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManageOrders)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <h2>GroupAndIndividuals</h2>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="span6">

                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Staff</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageStaff)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Assign Teachers</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.AssignTeachers)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Assign Departments</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.AssignDepartments)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Students</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageStudents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">Manage Parents</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManageParents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="span6">
                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Groups</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageGroups)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">View Students</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewStudents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">View Staff</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewStaff)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="spanLft">View Parents</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewParents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <h2>Academic</h2>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="span6">

                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Calendar Events</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageCalendarEvents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">View Calendar Events</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewCalendarEvents)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Create And Manage Coursework</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageCoursework)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="span6">
                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Create And Manage Attendance</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageAttendance)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Create And Manage Timetable</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.CreateAndManageTimetable)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">View Time Tables</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ViewTimeTables)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <h2>Reports</h2>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="span6">

                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Import Data</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ImportData)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Export Data</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ExportData)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="span6">
                                                <ul>
                                                    <li>
                                                        <div class="spanLft">Manage Payment Reports</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManagePaymentReports)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="spanLft">Manage Academic Reports</div>

                                                        <div class="spnRight">
                                                            <div class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                @Html.CheckBoxFor(m => m.StaffPermission.ManageAcademicReports)
                                                            </div>
                                                            <a href="#">
                                                                <img src="/img/q.png" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="right-sidebar">
            @Html.Partial("_RightMenuPartial")
        </div>
    }
</div>
<div id="dialog"></div>

@section scripts{
    <style type="text/css">
        .selectList {
            display: none;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#lnkSave').click(function () {
                $('.form-horizontal').submit();
            });
            $('.txtDateFormat').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-90:+0'
            });

            $('#divIndividual').addClass('selected');

        });

        function loadClass(e) {
            var id = $(e.target).val();
            var row = '';
            var appendTo = $(e.target).parent().parent().children().find('.Class');
            $(appendTo).html('<option value = "">--Select Class--</option>');
            $.ajax({
                type: 'GET',
                url: '/Global/GetClasses',
                data: { id: id },
                success: function (response) {
                    $.each(response, function (index, value) {
                        row += '<option value=' + value.ClassId + '>' + value.ClassName + '</option>';
                    });
                    $(appendTo).append(row);
                }
            })
        }

        function loadSection(e) {
            var id = $(e.target).val();
            var row = '';
            var appendTo = $(e.target).parent().parent().children().find('.Section');
            $(appendTo).html('<option value = "">--Select Section--</option>');
            $.ajax({
                type: 'GET',
                url: '/Global/GetSection',
                data: { id: id },
                success: function (response) {
                    $.each(response, function (index, value) {
                        row += '<option value=' + value.SectionId + '>' + value.SectionName + '</option>';
                    });
                    $(appendTo).append(row);
                    loadSubjects(e);
                }
            })
        }

        function addMore(e) {
            var $this = $(e.target);
            if ($this.text().trim() == 'Add More') {
                appendNewRow($this);
            }
            else if ($this.text().trim() == 'Save') {
                var validate = true;
                var root = $this.parent().parent().parent().children();
                if (root.find('.Course').val() == '' || root.find('.Class').val() == '' || root.find('.Section').val() == '' || root.find('.Subject').val() == '') {
                    validate = false;
                }
                if (validate) {
                    var parameters = {

                        userId: $('#UserId').val(),
                        courseId: root.find('.Course').val(),
                        departmentId: root.find('.Department').val(),
                        classId: root.find('.Class').val(),
                        sectionId: root.find('.Section').val(),
                        subjectId: root.find('.Subject').val()
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/Staff/AddMoreDepartmentClasses',
                        data: parameters,
                        success: function (response) {
                            if (response > 0) {
                                appendNewRow($this);
                                root.find('.lnkSave').show();
                                root.find('.lnkSave').attr('id', response);
                            }
                            else {
                                alert('Error while updating records');
                            }
                        },
                        error: function () { }
                    });
                }
                else {
                    alert('Please select all the fields');
                }

            }
        }

        function appendNewRow($this) {

            if ($this.text().trim() == 'Add More') {
                var root = $this.parent().parent().parent().next();
                root.show();
                root.children().find('.selectList').removeAttr('disabled');
                root.children().find('.dropdown').append($('.lnkAddMore'));
                $this.text('Save');
            }
            else if ($this.text().trim() == 'Save') {
                $this.text('Add More');
            }
        }

        function loadSubjects(e) {
            var id = $(e.target).val();
            var row = '';
            var appendTo = $(e.target).parent().parent().children().find('.Subject');
            $(appendTo).html('<option value = "">--Select Subject--</option>');
            $.ajax({
                type: 'GET',
                url: '/Global/GetSubjectByClass',
                data: { classId: id },
                success: function (response) {
                    $.each(response, function (index, value) {
                        row += '<option value=' + value.SubjectId + '>' + value.SubjectName + '</option>';
                    });
                    $(appendTo).append(row);
                }
            })
        }

        function updateCourseDepartments(e) {
            var $this = $(e.target);
            var validate = true;
            var root = $this.parent().parent().children();
            if (root.find('.Course').val() == '' || root.find('.Class').val() == '' || root.find('.Section').val() == '' || root.find('.Subject').val() == '') {
                validate = false;
            }
            if (validate) {
                var parameters = {
                    Id: $this.attr('id'),
                    userId: $('#UserId').val(),
                    courseId: root.find('.Course').val(),
                    departmentId: root.find('.Department').val(),
                    classId: root.find('.Class').val(),
                    sectionId: root.find('.Section').val(),
                    subjectId: root.find('.Subject').val()
                }
                $.ajax({
                    type: 'POST',
                    url: '/Staff/UpdateTeacherSubjects',
                    data: parameters,
                    success: function (response) {
                        if (response == 'True') {

                        }
                        else {
                            //alert('Error while updating records');
                        }
                    },
                    error: function () { }
                });
            }
            else {
                alert('Please select all the fields');
            }
        }

        function updatePermission(e) {
            var $this = $(e.target);
            $.ajax({
                type: 'POST',
                url: '/Staff/UpdateStaffPermission',
                data: {
                    userId: $('#UserId').val(),
                    permissionId: $this.attr('permissionId'),
                    permissionCategoryId: $this.attr('permissionCategoryId'),
                    status: $(e.target).is(':checked')
                },
                success: function (response) { },
                error: function () { }
            })
        }
    </script>
}