@model IEnumerable<StudentTracker.Core.Entities.Staff>
@{
    ViewBag.Title = "Parents";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Staff</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        @Html.Partial("_IndividualPartial")
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">View Staff </div>
                        <span class="tools"><a class="btn btn-info tools2" href="/Staff/Create" data-original-title="">New</a> </span>
                    </div>
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination">
                            <table class="table table-bordered pull-left" id="data-table">
                                <thead>
                                    <tr class="bluRow">
                                        <th>Name </th>
                                        <th>Course </th>
                                        <th class="hidden-phone">Department </th>
                                        <th class="hidden-phone">Classes Assigned </th>
                                        <th class="hidden-phone">Manage </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in @Model)
                                    {
                                        <tr>
                                            <td><span class="name">@data.FullName</span></td>
                                            <td><span class="name">@data.CourseName </span></td>
                                            <td class="hidden-phone">@data.DepartmentName </td>
                                            <td class="hidden-phone">@data.ClassName </td>
                                            <td class="hidden-phone">
                                                <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">Action <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">

                                                        <li><a href="/staff/details/@data.StaffId">View </a></li>
                                                        <li><a href="/Staff/Edit/@data.StaffId">Edit </a></li>
                                                        <li><a href="/staff/delete/@data.StaffId">Delete </a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.left').removeClass('active');
            $('#divIndividual').addClass('selected');
            $('#lnkStaff').addClass('selected');
        });
    </script>
}