@model Department

@{
    ViewBag.Title = "Details";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Department Details
                      <span class="mini-title">Simple form for Display Departments
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.DepartmentId)
                    <div class="control-group">
                        @Html.LabelFor(m => m.DepartmentName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.DepartmentName)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.DepartmentDesc, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.DepartmentDesc)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Organization</label>
                        <div class="controls">
                            @Html.DisplayFor(m => m.OrganizationName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CreatedDate, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.CreatedDate)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Created By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedByName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UpdatedDate, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.UpdatedDate)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Modify By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedByName)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" action="Edit" class="btn btn-primary" href="javascript:;" itemId="@Model.DepartmentId" onclick="Edit(event)" id="lnkEdit">Edit</a>

                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>
