@model Department

@{
    ViewBag.Title = "Edit";
    string token = DateTime.UtcNow.Ticks.ToString();
}

@Scripts.Render("~/bundles/jqueryval")
@Html.Hidden("token", token)
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Modify Department
                      <span class="mini-title">Simple form for Edit Departments
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.DepartmentId)
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.HiddenFor(m => m.CreatedDate)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                            }
                            else
                            {
@*@Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6", disabled = "disabled" })*@
                                @ViewBag.Organization
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                            @Html.ValidationMessageFor(m => m.OrganizationId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.DepartmentName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.DepartmentName, new { placeholder = "Department Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.DepartmentName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.DepartmentDesc, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.DepartmentDesc, new { placeholder = "Description", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @HelperAssets.FileUploadHtml()
                    </div>
                            Html.RenderAction("ShowAttachedFiles", "Files", new { itemid = Model.DepartmentId, type = this.ViewContext.Controller.GetType().Name });

                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="Edit" onclick="Save(event)" id="btnAdd">Save Changes</a>
                        <div class="clearfix Error">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


@HelperAssets.FileUploadScript(token);