@model StudentTracker.ViewModels.OrganizationServicesViewModel
@{
    ViewBag.Title = "Organization Services";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a class="subButton heading" id="lnkViewAll" href="#" onclick="" action="/">Manage Services
        </a></li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Manage organization services <span class="mini-title">Simple form for Managing services
                            </span>
                        </div>
                        <span class="tools"><a class="fs1" aria-hidden="true" data-icon="" data-original-title="">
                        </a></span>
                    </div>
                    <div class="widget-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                        {
                            <div class="control-group">
                                @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                                <div class="controls">
                                    @if (User.IsInRole("SiteAdmin"))
                                    {
                                        @Html.DropDownListFor(m => m.OrganizationId, ViewBag.OrganizationList as IEnumerable<SelectListItem>, "Select Organization", new { Class = "span6", @onchange = "LoadServices();" })
                                    }
                                    else
                                    {
                                        <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                        @Html.HiddenFor(m => m.OrganizationId)
                                    }
                                </div>
                            </div>
                        }
                        <div id="services">
                            @{Html.RenderAction("LoadServices", new { organizationId = Model.OrganizationId });}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#lnkServices').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });

            //$('select#OrganizationId').onchange("LoadServices");
            //LoadServices();
        });
        function LoadServices() {
            //alert(1);
            var organizationId = $('select#OrganizationId').val();
            console.log("orgainzationid is : " + organizationId);
            //var dataObj = { organizationId: organizationId };
            if (organizationId > 0) {
                $.ajax({
                    type: "GET",
                    cache: false,
                    contentType: 'application/json;',
                    // data: JSON.stringify(dataObj),
                    url: "/Services/LoadServices?organizationId=" + organizationId,
                    success: function (data) {
                        $('#services').html(data);
                    },
                    error: function (a, b) {
                        alert(a);
                        alert(b);
                    }
                });
            }
        }
    </script>
}
