@model StudentTracker.ViewModels.OrganizationServicesViewModel
@{
    Layout = null;
    long organizationId = Model.OrganizationId;
}
<div class="row-fluid">
    <div class="span12">


        @foreach (var group in Model.Servcies.GroupBy(g => g.CategoryName))
        {    <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <strong>Services</strong>: @group.Key
                </div>
            </div>
            @foreach (var service in group.ToList())
            {
                <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                <div class="well" style="margin-left: 10px; width: 40%; margin-top: 10px; float: left;">
                    <strong>@service.ServiceName</strong>
                    <div id="label-switch" class="make-switch pull-right" data-on-label="YES" data-off-label="NO">
                        <input type="checkbox" id="@service.ServiceId" checked="@service.IsAdded" onchange="ChangeService('@service.Id','@service.ServiceId', this.checked);" />
                    </div>
                </div>
            }
        </div>
        }

    </div>
</div>
<script type="text/javascript">
    function ChangeService(id, serviceId, value) {
        //// alert(@organizationId);
        var organizationId = '@organizationId';
        if (organizationId == 0) {
            organizationId = $('select#OrganizationId').val();
        }

        $.ajax({
            url: "/Services/AddRemoveService",
            type: "POST",
            contentType: 'application/json;',
            data: JSON.stringify({ id: id, organizationId: organizationId, serviceId: serviceId, value: value }),
            success: function (data) {
                if (data) {
                    // LoadServices();
                }
            },
            error: function (error, b) {
                alert("error");
            }

        });
    }
</script>
