@model StudentTracker.Core.Entities.Section

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Modify Section
                      <span class="mini-title">Simple form for Modify Section
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.SectionId)
                    @Html.HiddenFor(m => m.InsertedOn)
                    @Html.HiddenFor(m => m.CreatedBy)
                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "Select Class", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.ClassId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SectionName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.SectionName, new { placeholder = "Section Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SectionName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.SectionDescription, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.SectionDescription, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.SectionDescription)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="Edit" onclick="Save(event)" id="btnAdd">Save Changes</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


