@model StudentTracker.Core.Entities.Profile
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
    long userId = ViewBag.UserId;
}

<div class="sub-nav">
</div>
<div class="dashboard-wrapper">
    @using (Html.BeginForm("EditProfile", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.UserId)
        <div class="left-sidebar">

            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">
                                Edit Student
                            </div>
                            <span class="tools tls2">
                                @*<input type="submit" name="Create" value="Save" class="btn btn-info" />*@
                                <a class="btn btn-info" id="lnkSave" href="#" data-original-title="">Save</a>
                                <a class="btn btn-info" href="/account/profile" data-original-title="">Cancel</a></span>
                        </div>


                        <div class="widget-body">
                            <div class="container-fluid">

                                <div class="row-fluid">
                                    <div class="span3">
                                        <div class="thumbnail">
                                            <img id="profileImage" alt="300x200" src="@Model.ProfileImageUrl">
                                            <a id="pickfile" class="file-input-wrapper btn btn-info cangePic" data-original-title="">Change Picture
                                                       @* <input type="file">*@
                                            </a>
                                            <a href="javascript:;" id="saveProfileImage" class="btn btn-info" style="display: none;">Save</a>
                                        </div>
                                    </div>
                                    <div class="span9">
                                        <form class="form-horizontal">

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Title
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Title, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Title)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    First Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.FirstName)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Last Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.LastName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.LastName)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    DOB
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "span8 txtDateFormat" })
                                                    @Html.ValidationMessageFor(x => x.DateOfBirth)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Address1
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Address1, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Address1)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Address2
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Address2, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Address2)
                                                </div>
                                            </div>

                                            @*<div class="control-group">
                                                <label class="control-label">
                                                    Phone
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.MobileNumber)
                                                </div>
                                            </div>*@
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Phone1
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Phone1, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Phone1)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Phone2
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Phone2, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Phone2)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Home
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.HomeTelephoneNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.HomeTelephoneNumber)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    EmailAddress1
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.EmailAddress1, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.EmailAddress1)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    EmailAddress2
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.EmailAddress2, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.EmailAddress2)
                                                </div>
                                            </div>
                                            @*     <div class="control-group">
                                                <label class="control-label">
                                                    Email
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                            </div>*@

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-sidebar">
            @Html.Partial("_RightMenuPartial")
        </div>
    }
</div>
<div id="dialog"></div>
@section scripts{
    @HelperAssets.SaveAndLoadData("Student", "")
    <style type="text/css">
        input[type="submit"] {
            color: #FFFFFF !important;
            text-shadow: none;
            display: block;
            text-shadow: none;
            float: right;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lnkSave').click(function () {
                $('.form-horizontal').submit();
            });
        });
    </script>
    <script src="~/Content/Pluload/plupload.full.js"></script>
    <script type="text/javascript">
        // Custom example logic

        $(function () {

            $("#saveProfileImage").hide();

            var uploader = new plupload.Uploader({
                runtimes: 'gears,html5,flash,silverlight,browserplus',
                browse_button: 'pickfile',
                resize: {
                    width: 260,
                    height: 290
                },
                // container: 'container',
                max_file_size: '15mb',
                url: '/Account/SaveProfileImage?userId=' + '@Session["UserId"]',
                flash_swf_url: '../../Scripts/plupload.flash.swf',
                //silverlight_xap_url: '/plupload/js/plupload.silverlight.xap',
                filters: [{ title: "Image files", extensions: "jpeg,jpg,png" }]
            });

            uploader.bind('Init', function (up, params) {
                // $('#filelist').html("");
                // $('#filelist').html("<div class='curRuntime'>Current runtime: " + params.runtime + "</div>");
            });

            $('#uploadfiles').click(function (e) {

                uploader.start();
                e.preventDefault();
            });

            uploader.init();

            $("#saveProfileImage").click(function (e) {
                uploader.start();
                e.preventDefault();
            });

            uploader.bind('FilesAdded', function (up, files) {
                $.each(files, function (i, file) {

                    console.log(file);

                });

                up.refresh(); // Reposition Flash/Silverlight
                $("#saveProfileImage").show();
                $("#pickfile").hide();
            });

            uploader.bind('UploadProgress', function (up, file) {
                $('#' + file.id + " b").html(file.percent + "%");
            });

            uploader.bind('Error', function (up, err) {
                $('a#uploadfiles').hide();
                $(".infoDiv").remove();
                $('#filelist').append("<div class='errorDiv'>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('FileUploaded', function (up, file) {
                $("#saveProfileImage").hide();
                $("#pickfile").show();
                var filePath="/Attachments/ProfileImages/@userId/"+file.name;
                $("#profileImage").attr({ "src": filePath });
            });
            //refreshDatatable();
        });



    </script>
}