@model StudentTracker.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "../shared/_layoutbluemoon.cshtml";
}
<style type="text/css">
    .form-signin {
        max-width: 500px;
        min-width: 150px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            padding: 7px 9px;
        }
</style>
<div class="sub-nav">
    <ul>
        <li>
            <a href="/Account/registerToken">Register
            </a>
        </li>
        @* <li>
            <a href="invoice.html">Invoice
              </a>
        </li>
        <li>
            <a href="login.html" class="selected">Login
              </a>
        </li>
        <li>
            <a href="404.html">404
              </a>
        </li>
        <li>
            <a href="500.html">500
              </a>
        </li>
        <li>
            <a href="help.html">Help
              </a>
        </li>*@
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
        @*  <ul class="dropdown-menu pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="index.html" data-original-title="">Dashboard
                    </a>
                </li>
                <li>
                    <a href="forms.html" data-original-title="">Forms
                    </a>
                </li>
                <li>
                    <a href="graphs.html" data-original-title="">Graphs
                    </a>
                </li>
                <li>
                    <a href="ui-elements.html" data-original-title="">UI Elements
                    </a>
                </li>
                <li>
                    <a href="icons.html" data-original-title="">Icons
                    </a>
                </li>
                <li>
                    <a href="tables.html" data-original-title="">Tables
                    </a>
                </li>
                <li>
                    <a href="media.html" data-original-title="">Media
                    </a>
                </li>
                <li>
                    <a href="calendar.html" data-original-title="">Calendar
                    </a>
                </li>
                <li>
                    <a href="typography.html" data-original-title="">Typography
                    </a>
                </li>
                <li>
                    <a href="edit-profile.html" data-original-title="">Edit Profile
                    </a>
                </li>
                <li>
                    <a href="invoice.html" data-original-title="">Invoice
                    </a>
                </li>
                <li>
                    <a href="login.html" data-original-title="">Login
                    </a>
                </li>
                <li>
                    <a href="404.html" data-original-title="">404 Page
                    </a>
                </li>
                <li>
                    <a href="500.html" data-original-title="">500 Page
                    </a>
                </li>
                <li>
                    <a href="help.html" data-original-title="">Help
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="login.html" data-original-title="">Login
                    </a>
                </li>
                <li>
                    <a href="login.html" data-original-title="">Register
                    </a>
                </li>
            }
        </ul>*@
    </div>
</div>
<div class="dashboard-wrapper">


    <div class="sign-in-container">
        @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin login-wrapper" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="header">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>Login<img src="~/Content/themes/custom/img/logo1.png" alt="Logo" class="pull-right" /></h3>
                        <p>Fill out the form below to login.</p>
                    </div>
                </div>

            </div>
            @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", @placeholder = "Email address" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
            
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>
            <div class="actions">
                <button class="btn btn-danger" type="submit">Sign in</button>
                <a class="link" href="#" data-original-title="">Forgot Password?</a>
                <div class="clearfix"></div>
            </div>
        }
    </div>


</div>
