@model StudentTracker.ViewModels.StudentViewModel
@{
    ViewBag.Title = "CreateStudent";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
</div>
<div class="dashboard-wrapper">
    @using (Html.BeginForm("CreateStudent", "Student", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.GroupIds)
        @Html.HiddenFor(m => m.SubjectIds)
        <div class="left-sidebar">

            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">
                                New Student
                            </div>
                            <span class="tools tls2">
                                <a class="btn btn-info" href="#" id="lnkSave" data-original-title="">Save</a>
                                <a class="btn btn-info" href="/Student" data-original-title="">Cancel</a></span>
                        </div>


                        <div class="widget-body">
                            <div class="container-fluid">

                                <div class="row-fluid">
                                    <div class="span3">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="/img/profile.png"><a class="file-input-wrapper btn btn-info cangePic" data-original-title="">
Change Picture
                                                        <input type="file">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="span9">
                                        <form class="form-horizontal">

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Title
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.Title, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Profile.Title)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    First Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.FirstName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Profile.FirstName)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Last Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.LastName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Profile.LastName)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    DOB
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.DateOfBirth, new { @class = "span8 txtDateFormat" })
                                                    @Html.ValidationMessageFor(x => x.Profile.DateOfBirth)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Phone
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.MobileNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Profile.MobileNumber)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Home
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Profile.HomeTelephoneNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Profile.HomeTelephoneNumber)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Email
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    RollNo
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.RollNo, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.RollNo)
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row-fluid">

                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Assign Department/Classes
                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="span12">

                                <div class="widget-body topUp">
                                    <table class="table table-bordered no-margin">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { onChange = "GetData(event)", action = "GetClasses", getType = "Class" })
                                                    @Html.ValidationMessageFor(m => m.CourseId)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, "Select Department")
                                                    @Html.ValidationMessageFor(m => m.DepartmentId)
                                                </td>
                                                <td class="hidden-phone">
                                                    @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "Select Class", new { onChange = "GetData(event)", action = "GetSection", getType = "Section" })
                                                    @Html.ValidationMessageFor(m => m.ClassId)
                                                </td>
                                                <td class="hidden-phone">
                                                    @Html.DropDownListFor(m => m.SectionId, Model.SectionList, "Select Section")
                                                    @Html.ValidationMessageFor(m => m.SectionId)
                                                </td>
                                                <td class="hidden-phone">

                                                    <div class="dropdown">
                                                        <a href="javascript:;" class="btnAssign" property="GroupIds" action="AddGroups">Groups
                                                                    <b class="caret2">+ </b>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="hidden-phone">
                                                    <div class="dropdown">
                                                        <a href="javascript:;" class="btnAssign" property="SubjectIds" action="AddSubjects">Subjects
                                                                    <b class="caret2">+ </b>
                                                        </a>
                                                    </div>
                                                </td>
                                                @*<td class="hidden-phone">
                                                    <a href="javascript:;" class="btn btn-info">Save</a>
                                                </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="right-sidebar">
            @Html.Partial("_RightMenuPartial")
        </div>
    }
</div>
<div id="dialog"></div>

@section scripts{
    @HelperAssets.SaveAndLoadData("Student", "")
    @HelperAssets.AssingGroupAndSubjects()
    <style type="text/css">
        input[type="submit"] {
            color: #FFFFFF !important;
            text-shadow: none;
            display: block;
            text-shadow: none;
            float: right;
        }
    </style>
    <script type="text/javascript">
        function GetSubjectAndSection(e) {
            GetData(e);
            LoadSubjects(e);
        }
        $(document).ready(function () {
            $('#lnkSave').click(function () {
                $('.form-horizontal').submit();
            });
            $('.txtDateFormat').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-90:+0'
            });

            $('#divIndividual').addClass('selected');
        });

        function MoveAllToRight(e) {
            var row = '';
            $('.listItem').hide();
            $('#ulRight').html('');
            $('.lnkAdd').each(function (index, value) {
                var $this = $(this);
                var id = $this.attr('id');
                var userId = $this.attr('itemId');
                row += '<li class=' + id + ' ><div class="row-fluid">' +
                                               '<div class="span8 colorSpn divName">' + $this.parent().prev().prev().text() + '</div>' +
                                               '<div class="span2 colorSpn2">' + $this.attr('userCount') + '</div>' +
                                               '<div class="span2 colorSpn2"><a class="deleteBtn icon-trash" onclick="deleteRow(event)" itemId=' + userId + ' id=' + id + ' href="#"></a></div>' +
        '                                                </div>' +
                                       '</li>';
            });
            $('#ulRight').append(row);
        }
        function deleteAll(e) {

            $('#ulRight > li').each(function () {
                var id = $(this).attr('class');
                $('.' + id).show();
                $(this).remove();
            });
        }
    </script>
}