@model StudentTracker.ViewModels.StudentViewModel
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
</div>
<div class="dashboard-wrapper">
    @using (Html.BeginForm("Edit", "Student", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.GroupMembers)
        @Html.HiddenFor(m => m.StudentSubjects)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.StudentId)
        @Html.HiddenFor(m => m.OrganizationId)
        @Html.HiddenFor(m => m.SubjectIds)
        <div class="left-sidebar">

            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">
                                Edit Student
                            </div>
                            <span class="tools tls2">
                                @*<input type="submit" name="Create" value="Save" class="btn btn-info" />*@
                                <a class="btn btn-info" id="lnkSave" href="#" data-original-title="">Save</a>
                                <a class="btn btn-info" href="/Student" data-original-title="">Cancel</a></span>
                        </div>


                        <div class="widget-body">
                            <div class="container-fluid">

                                <div class="row-fluid">
                                    <div class="span3">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="/img/profile.png"><a class="file-input-wrapper btn btn-info cangePic" data-original-title="">
Change Picture
                                                        <input type="file">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="span9">
                                        <form class="form-horizontal">

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Title
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Title, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Title)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    First Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.FirstName)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Last Name
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.LastName, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.LastName)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    DOB
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "span8 txtDateFormat" })
                                                    @Html.ValidationMessageFor(x => x.DateOfBirth)
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">
                                                    Phone
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.MobileNumber)
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                    Home
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.HomeTelephoneNumber, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.HomeTelephoneNumber)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    Email
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    RollNo
                                                </label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(x => x.RollNo, new { @class = "span8" })
                                                    @Html.ValidationMessageFor(x => x.RollNo)
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row-fluid">

                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Assign Department/Classes
                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="span12">

                                <div class="widget-body topUp">
                                    <table class="table table-bordered no-margin">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { onChange = "GetData(event)", action = "GetClass", getType = "Class" })
                                                    @Html.ValidationMessageFor(m => m.CourseId)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, "Select Department")
                                                    @Html.ValidationMessageFor(m => m.DepartmentId)
                                                </td>
                                                <td class="hidden-phone">
                                                    @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "Select Class", new { onChange = "GetData(event)", action = "GetSection", getType = "Section" })
                                                    @Html.ValidationMessageFor(m => m.ClassId)
                                                </td>
                                                <td class="hidden-phone">
                                                    @Html.DropDownListFor(m => m.SectionId, Model.SectionList, "Select Section")
                                                    @Html.ValidationMessageFor(m => m.SectionId)
                                                </td>
                                                <td class="hidden-phone">

                                                    <div class="dropdown">
                                                        <a href="javascript:;" class="btnAssign" property="GroupIds" action="EditGroupsPopUp">Groups
                                                                    <b class="caret2">+ </b>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="hidden-phone">
                                                    <div class="dropdown">
                                                        <a href="javascript:;" class="btnAssign" property="SubjectIds" action="EditUserSubjectsPopUp">Subjects
                                                                    <b class="caret2">+ </b>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="right-sidebar">
            @Html.Partial("_RightMenuPartial")
        </div>
    }
</div>
<div id="dialog"></div>
@section scripts{
    @HelperAssets.SaveAndLoadData("Student", "")
    <style type="text/css">
        input[type="submit"] {
            color: #FFFFFF !important;
            text-shadow: none;
            display: block;
            text-shadow: none;
            float: right;
        }
    </style>
    <script type="text/javascript">
        function GetSubjectAndSection(e) {
            GetData(e);
            LoadSubjects(e);
        }
        $(document).ready(function () {
            $('#lnkSave').click(function () {
                $('.form-horizontal').submit();
            });
            $('.txtDateFormat').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-90:+0'
            });

            $('#divIndividual').addClass('selected');

            //dialog work
            $('.btnAssign').click(function () {
                property = $(this).attr('property');
                var action = $(this).attr('action');
                $.ajax({
                    type: 'POST',
                    url: '/Global/' + action,
                    data: { organizationId: $('#OrganizationId').val(), userId: $('#UserId').val() },
                    async: false,
                    success: function (response) {
                        $('#dialog').html(response);
                    },
                    error: function () { }
                });

                var x = $(this).position().middle + jQuery(this).outerWidth();
                var y = $(this).position().top - jQuery(document).scrollTop();
                $("#dialog").dialog('option', 'position', [x, y]);

                $('#dialog').dialog("open");
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 700,
                buttons: {
                    Done: function () {
                        //var text = [];
                        //$('.deleteBtn').each(function () {
                        //    text.push($(this).attr('itemId'));
                        //});
                        //$('#' + property).val(text.toString());
                        //alert($('#' + property).val());
                        $(this).dialog("close");
                    }
                }
            });


        });

        //Subject edit popup
        function GetSubjectAndSection(e) {
            GetData(e);
            LoadSubjects(e);
        }

        function LoadSubjects(e) {

            var classId = $(e.target).val();
            var validate = true;
            var atRightDiv = false;
            $('#ulLeft').html('');
            if (classId == '') {
                return false;
            }
            else {
                var row = '';
                $.ajax({
                    type: 'POST',
                    url: '/Global/GetSubjectByClass',
                    data: { classId: classId },
                    success: function (response) {
                        $.each(response, function (i, v) {
                            validate = true;
                            $('#ulLeft>li').each(function () {
                                if ($(this).attr('class') == v.SubjectId) {
                                    validate = false;
                                }
                            });

                            $('#ulRight>li').each(function () {
                                if ($(this).attr('class') == v.SubjectId) {
                                    atRightDiv = true;
                                }
                            });

                            if (validate) {
                                if (atRightDiv) {
                                    row += '<li class=' + v.SubjectId + ' style="display : none;">' +
                                              '<div class="row-fluid">' +
                                                     '<div class="span8 colorSpn">' + v.SubjectName + '</div>' +
                                                      '<div class="span2 colorSpn2">7</div>' +
                                                      '<div class="span2 colorSpn2"><a class="addBtn" itemId=' + v.SubjectId + ' id=' + v.SubjectId + ' onclick="AddNewRow(event)" href="#" data-original-title="">+</a></div>' +
                                                '</div>' +
                                           '</li>';
                                }
                                else {
                                    row += '<li class=' + v.SubjectId + '>' +
                                               '<div class="row-fluid">' +
                                                      '<div class="span8 colorSpn">' + v.SubjectName + '</div>' +
                                                       '<div class="span2 colorSpn2">7</div>' +
                                                       '<div class="span2 colorSpn2"><a class="addBtn" itemId=' + v.SubjectId + ' id=' + v.SubjectId + ' onclick="AddNewRow(event)" href="#" data-original-title="">+</a></div>' +
                                                 '</div>' +
                                            '</li>';
                                }
                            }
                        });
                        $('#ulLeft').append(row);
                    },
                    error: function () { }
                });
            }

        }
    </script>
}