@model StudentTracker.Core.Entities.Profile
@{
    ViewBag.Title = "RegisterUserStep5";
    Layout = "~/Areas/SAS/Views/Shared/LayoutAreas.cshtml";
}
@Html.Partial("BreadcrumbsPartial")
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="progressBar">

            <div class="details">
                <span>Step 5 </span>
                <span class="pull-right">60% </span>
            </div>
            <div class="progress">
                <div class="bar progress-info" style="width: 60%;"></div>


            </div>
        </div>


        @using (Html.BeginForm("RegisterUserStep5", "SASHome", FormMethod.Post, new { @class = "log-page2" }))
        {
            @Html.HiddenFor(m => m.UserId)
            <div class="fild_text">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", Class = "span7 border-radius-none txtUser" })
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", Class = "span7 border-radius-none txtUser " })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)<br />
                @Html.DropDownListFor(m => m.SecurityQuestionId, Model.SecurityQuestionList, new { @class = "span7 border-radius-none txtUser" })
                @Html.ValidationMessageFor(m => m.SecurityQuestionId)
                @Html.TextBoxFor(m => m.SecurityAnswer, new { placeholder = "Answer", Class = "span7 border-radius-none txtUser" })
                @Html.ValidationMessageFor(m => m.SecurityAnswer)
            </div>
            <p>Please always keep safe your password</p>
            <div class="controls form-inline">
                @*<a href="/SAS/SASHome/RegisterUserStep4" class="btn-Nxt" type="submit">Back</a>*@
                <a type="submit" href="javascript:;" name="submit" onclick=" $(this).closest('form').submit();" id="lnkAdd" class="btn-Nxt">Next</a>
            </div>
        }
    </div>
    <!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->

