@model StudentTracker.Core.Entities.Profile
@{
    ViewBag.Title = "RegisterUserStep3";
    Layout = "~/Areas/SAS/Views/Shared/LayoutAreas.cshtml";
}

@Html.Partial("BreadcrumbsPartial")

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">

        <div class="progressBar">

            <div class="details">
                <span>Step 3 </span>
                <span class="pull-right">36% </span>
            </div>
            <div class="progress">
                <div class="bar progress-info" style="width: 36%;"></div>


            </div>
        </div>

        @using (Html.BeginForm("RegisterUserStep3", "SASHome", FormMethod.Post, new { @class = "log-page2" }))
        {
            <h3>You are safe with informationMail thats our vision to provide best security.</h3>   			
            @Html.HiddenFor(m => m.RegistrationToken)          	
@*<input type="text" class="span7 border-radius-none fild_text" value="Title" onfocus="this.value=''" onblur="this.value='Title'" />
            <input type="text" class="span7 border-radius-none" value="First Name" onfocus="this.value=''" onblur="this.value='First Name'" />
            <input type="text" class="span7 border-radius-none" value="Last Name" onfocus="this.value=''" onblur="this.value='Last Name'" />
            <input type="text" class="span7 border-radius-none" value="Date of Birth" onfocus="this.value=''" onblur="this.value='Date of Birth'" />*@
	        
            <div class="fild_text">
                @Html.DropDownListFor(m => m.Title, Model.TitleList, "Select Title", new { Class = "span7 border-radius-none" })@Html.ValidationMessageFor(m => m.Title)
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", Class = "span7 border-radius-none txtUser" })@Html.ValidationMessageFor(m => m.UserName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", Class = "span7 border-radius-none txtUser" })@Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", Class = "span7 border-radius-none txtUser" })@Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.DateOfBirth, new { placeholder = "Date Of Birth", Class = "span7 border-radius-none txtUser" })@Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
            <div class="controls form-inline">
                <a href="/SASHome/RegisterUserStep2" class="btn-Nxt" type="submit">Back</a>
                <a type="submit" href="javascript:;" name="submit" id="lnkAdd" class="btn-Nxt" onclick=" $(this).closest('form').submit();">Next</a>
            </div>
            
        }
    </div>
    <!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->
@section scripts{
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#DateOfBirth').datepicker();
            $('#DateOfBirth').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-90:+0'
            });
        });
    </script>
}

