@model StudentTracker.Core.Entities.ClassRoom

@{
    ViewBag.Title = "Create";
    string token = DateTime.UtcNow.Ticks.ToString();
}
@Scripts.Render("~/bundles/jqueryval")
@Html.Hidden("token", token)
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Class
                      <span class="mini-title">Simple form for new Class
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.DepartmentId, new { Class = "control-label" })
                        <div class="controls">

                            @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, "Select Department", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.DepartmentId)

                        </div>
                    </div>
                                       
                    <div class="control-group">
                        @Html.LabelFor(m => m.Name, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.Name, new { placeholder = " room Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.Description, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(m => m.Location, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.Location, new { placeholder = "Location", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Location)
                        </div>
                    </div>
                     <div class="control-group">
                        @HelperAssets.FileUploadHtml()
                    </div>
                    <div class="form-actions no-margin">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" onclick="Save(event)" id="btnAdd">Add Class Room</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>

@HelperAssets.FileUploadScript(token);
<script></script>
