@model StudentTracker.Core.Entities.Group

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Group
                      <span class="mini-title">Simple form for new Group
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                            }
                            else
                            {
                                <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(m => m.GroupName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.GroupName, new { placeholder = "Group Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.GroupName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", Class = "span6", @rows = 4, @cols = 400 })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(m => m.GroupMembers, new { Class = "control-label" })
                        <div class="controls">
                            @*@Html.TextAreaFor(m => m.GroupMembers, new { placeholder = "Group Members", Class = "span6", @rows = 8, @cols = 450 })
                            @Html.ValidationMessageFor(m => m.GroupMembers)*@
                            <a id="lnkAddMember">+Add</a>
                            <div id="divAddNewUser">
                                <div id="divLeft">
                                    <div class="divHeader">
                                        Users
                                    <a>+</a>
                                    </div>
                                    @foreach (var user in Model.Users)
                                    {
                                        <div class="divUserList" id="@user.UserId">
                                            <div class="divRow">
                                                @Html.DisplayFor(m => user.FirstName)
                                                &nbsp;
                                            @Html.DisplayFor(m => user.LastName)
                                            </div>
                                            <a onclick="AddNewRow(event)">+</a>
                                            <hr />
                                        </div>
                                        
                                    }
                                </div>
                                <div id="divRight">
                                    <div class="divHeader">
                                        Memebers<a>Delete</a>
                                    </div>
                                    @*<div class="divUserList">
                                        <a class="lnkDelete">Delete</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                     
                    <div class="form-actions no-margin">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" id="btnAdd">Add Group</a>
                        <div class="clearfix">
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.GroupMembers)
                }

            </div>
        </div>
    </div>

</div>
<style type="text/css">
    #divAddNewUser {
    }

    .lnkUserAdd {
    }

    #divLeft {
        float: left;
        width: 300px;
    }

    #divRight {
        float: left;
        width: 300px;
        margin-left: 10px;
    }

    .divHeader {
        float: left;
        background: black;
        width: 100%;
        color: white;
    }

        .divHeader > a {
            float: right;
            color: white;
            background: blue;
            width: 40px;
            text-align: center;
        }

    .divUserList > a {
        float: right;
        color: white;
        background: blue;
        width: 40px;
        text-align: center;
    }

    .divUserList {
        margin-top: 5px;
        float: left;
        width: 100%;
    }

    .divRow {
        width: 260px;
        float: left;
    }

    a {
        cursor: pointer;
    }

    #divAddNewUser {
        display: none;
    }
</style>
@*<script src="~/Scripts/jquery-2.0.3.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#lnkAddMember').click(function () {
            $('#divAddNewUser').toggle();
        });

        

        $('#btnAdd').click(function (e) {
            var ids = [];
            $('.lnkDelete').each(function () {
                ids.push($(this).attr('id'));
            });
            $('#GroupMembers').val(ids.toString());
            Save(e);
        });
    });


</script>
