@model StudentTracker.Core.Entities.Group

@{
    ViewBag.Title = "Details";
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title textAlign">
                    Group Details
                     
                </div>
                <span class="tools tls2">
                    @Html.ActionLink("Edit", "Edit", new { id = @Model.GroupId }, new { @class = "lnkEdit btn btn-primary" })
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.GroupName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.GroupName)
                        </div>
                    </div>
              
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.Description)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.OrganizationName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.InsertedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Created By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedByName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ModifiedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Updated By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedByName)
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
