@model StudentTracker.Core.Entities.Group

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}



Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Create Group</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.HiddenFor(m => m.GroupId)
                    @Html.HiddenFor(m => m.InsertedOn)
                    @Html.HiddenFor(m => m.InsertedBy)
                    <div class="widget">
                        <div class="widget-header widget-header2">
                            <div class="title textAlign">Edit Group </div>
                            <span class="tools tls2">
                                <a name="submit" class="btn btn-info" href="javascript:;" action="create" id="btnAdd">Save</a>
                                <a href="/Group" class="btn btn-info">Cancel</a> </span>
                        </div>
                        <div class="widget-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="control-group">
                                @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                                <div class="controls">
                                    @if (User.IsInRole("SiteAdmin"))
                                    {
                                        @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                                    }
                                    else
                                    {
                                        <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                        @Html.HiddenFor(m => m.OrganizationId)
                                    }
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(m => m.GroupName, new { Class = "control-label" })
                                <div class="controls controls-row">
                                    @Html.TextBoxFor(m => m.GroupName, new { placeholder = "Group Name", Class = "span6" })
                                    @Html.ValidationMessageFor(m => m.GroupName)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", Class = "span6", @rows = 4, @cols = 400 })
                                    @Html.ValidationMessageFor(m => m.Description)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="repPassword">&nbsp; </label>
                                <div class="controls">
                                    <div class="span6">
                                        <div class="dropdown flt"><a href="javascript:;" class="btnAddReciepents">Add Recipients <b class="caret2">+ </b></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password1">Group Members </label>
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.Members, new { placeholder = "Group Members", Class = "span6", @rows = 4, @cols = 400 })
                                    @Html.ValidationMessageFor(m => m.Members)
                                </div>
                            </div>

                            <div class="form-actions no-margin">
                                <div class="clearfix">
                                </div>
                            </div>
                            @*@Html.HiddenFor(m => m.Members)*@


                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
    <div id="dialog"></div>
</div>
@section scripts{
    @HelperAssets.SaveAndLoadData("/Group/", "ViewGroups");
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divGroup').addClass('selected');
            $('#btnAdd').click(function (e) {
                Save(e);
            });
        });


    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.lnkAddNewRow').click(function (e) {
            var userId = $(e.target).attr('userId');
            var groupId = $('#GroupId').val();
            $.ajax({
                type: 'POST',
                url: '/Group/AddNewUserGroup/',
                data: {
                    userId: userId, groupId: groupId
                },
                success: function () {
                    EditAddNewRow(e);
                },
                error: function () { }
            })
        });
    });

    function EditAddNewRow(e) {
        var $this = $(e.target);
        $this.parent().hide();
        var id = $this.parent().attr('id');
        var row = '<div class="divUserList">' + $this.prev().text() + '<a class="lnkDelete" onClick=EditRow(event) id=' + id + '>Delete</a><hr /></div>';
        $('#divRight').append(row);
    }

    function EditRow(e) {
        var $this = $(e.target);
        var userId = $(e.target).attr('id');
        var groupId = $('#GroupId').val();
        $.ajax({
            type: 'POST',
            url: '/Group/DeleteUserGroup/',
            data: {
                userId: userId, groupId: groupId
            },
            success: function () {
                deleteRow(e);
            },
            error: function () { }
        })
    }
</script>
