@model StudentTracker.ViewModels.GroupViewModel
@{
    ViewBag.Title = "AddGroups";
}

<div class="left-sidebar">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title textAlign">
                        Groups
                    </div>
                </div>
                <div class="widget-body">
                    <div class="srchBox">
                        <input class="x-large" type="text" placeholder="Search Here">
                        <span class="crs">
                            <img src="/img/clear.png" alt=""></span>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="groups">
                                <h2>Groups <a class="addBtn" href="#" data-original-title="" onclick="MoveAllToRight(event)">+</a></h2>
                                <div class="tripSec">
                                    <ul id="ulLeft">
                                        @if (Model.OrganizationGroupList != null)
                                        {
                                            foreach (var data in Model.OrganizationGroupList)
                                            {
                                            <li class="@data.GroupId listItem">
                                                <div class="row-fluid">
                                                    <div class="span8 colorSpn">@data.GroupName</div>
                                                    <div class="span2 colorSpn2">@data.UserCount </div>
                                                    <div class="span2 colorSpn2"><a class="addBtn lnkAdd" itemId="@data.GroupId" id="@data.GroupId" onclick="AddNewRow(event)" href="#" data-original-title="" userCount="@data.UserCount">+</a></div>
                                                </div>
                                            </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="groups">
                                <h2>Groups <a class="delete-row pls lnkDeleteAll" data-original-title="Delete" href="#" onclick="deleteAll(event)">
                                    <i class="icon-trash" data-original-title=""></i>
                                </a></h2>

                                <div class="tripSec">
                                    <ul id="ulRight">
                                        @*<li>
                                            <div class="row-fluid">
                                                <div class="span8 colorSpn">Trip</div>
                                                <div class="span2 colorSpn2">7</div>
                                                <div class="span2 colorSpn2">
                                                    <a class="delete-row pls icon-trash" data-original-title="Delete" href="#"></a>
                                                </div>
                                            </div>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    /*.left-sidebar {
        margin: 0px !important;
    }*/

    .active {
        background: #3693cf !important;
        color: #fff !important;
    }

    .ui-dialog-buttonset > button {
    }
</style>
<script type="text/javascript">
    
</script>
