@model StudentTracker.Core.Entities.RegistrationToken
@{
    Layout = null;
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Token
                      <span class="mini-title">Simple form for new Token
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                   
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6" })
                            }
                            else
                            {
                                @ViewBag.Organization
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.DepartmentId, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DropDownListFor(m => m.DepartmentId, Model.DepartmentList, "Select Department", new { Class = "span6" })
                            @Html.ValidationMessageFor(model => model.DepartmentId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CourseId, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6" })
                            @Html.ValidationMessageFor(model => model.CourseId)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.SectionId, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DropDownListFor(m => m.SectionId, Model.SectionList, "Select Section", new { Class = "span6" })

                            @Html.ValidationMessageFor(model => model.SectionId)
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a class="btn btn-primary" href="javascript:;" id="btnCreateToken">Create </a>
                        <div class="clearfix">
                        </div>
                    </div>
                    
                }

            </div>
        </div>
    </div>
</div>
