@model StudentTracker.Core.Entities.Class

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Class
                      <span class="mini-title">Simple form for new Class
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6", onChange = "GetData(event)", action = "GetCourse", getType = "Course" })
                                @Html.ValidationMessageFor(m => m.OrganizationId)
                            }
                            else
                            {
                               <label class="control-label" for="OrganisationId" style="text-align:left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.ClassName, new { placeholder = "Class Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.ClassName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.Description, new { placeholder = "Description", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    
                    <div class="form-actions no-margin">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" onclick="Save(event)" id="btnAdd">Add Class</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


