@model StudentTracker.Core.Entities.Class

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">

                    <div class="title textAlign">
                        Create New Class
                    </div>
                    <span class="tools tls2">
                        <a name="submit" class="btn btn-primary" href="javascript:;" action="create" onclick="Save(event)" id="btnAdd">Save</a>
                        <a class="btn btn-info" href="/Class" data-original-title="">Cancel</a></span>
                </div>
                <div class="widget-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationId, new { Class = "control-label" })
                        <div class="controls">
                            @if (User.IsInRole("SiteAdmin"))
                            {
                                @Html.DropDownListFor(m => m.OrganizationId, Model.OrganizationList, "Select Organization", new { Class = "span6", onChange = "GetData(event)", action = "GetCourses", getType = "Course" })
                                @Html.ValidationMessageFor(m => m.OrganizationId)
                            }
                            else
                            {
                                <label class="control-label" for="OrganisationId" style="text-align: left">@ViewBag.Organization</label>
                                @Html.HiddenFor(m => m.OrganizationId)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.CourseId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "Select Course", new { Class = "span6" })
                            @Html.ValidationMessageFor(m => m.CourseId)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.ClassName, new { placeholder = "Class Name", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.ClassName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", Class = "span6", @rows = 4, @cols = 400 })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>





                </div>
            </div>
        </div>

    </div>


}