@model StudentTracker.Core.Entities.Class

@{
    ViewBag.Title = "Details";
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title textAlign">
                    Class Details
                      
                </div>
                <span class="tools tls2">
                    <a name="submit" action="Edit" class="btn btn-primary" href="javascript:;" itemId="@Model.ClassId" onclick="Edit(event)" id="lnkEdit">Edit</a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.ClassId)
                    <div class="control-group">
                        @Html.LabelFor(m => m.ClassName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ClassName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Description, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.Description)

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Organization</label>
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.OrganizationName)

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Course</label>
                        <div class="controls controls-row">
                            @Html.DisplayFor(m => m.CourseName)

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.InsertedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Created By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.InsertedByName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ModifiedOn, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedOn)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Updated By", new { Class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.ModifiedByName)
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
