@model StudentTracker.Core.Entities.Organization
@{
    ViewBag.Title = "AddOrganizations";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Create New Organization
                      <span class="mini-title">Simple form for new Organization
                      </span>
                </div>
                <span class="tools">
                    <a class="fs1" aria-hidden="true" data-icon="" data-original-title=""></a>
                </span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal no-margin", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationName, new { Class = "control-label" })
                        <div class="controls controls-row">
                            @Html.TextBoxFor(m => m.OrganizationName, new { placeholder = "OrganizationName", Class = "span6" })
                            @Html.ValidationMessageFor(m => m.OrganizationName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationDesc, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.OrganizationDesc, new { placeholder = "Description", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.OrganizationTypeId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("OrganizationTypeId", null, "Select Organization", new { })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.RegisterationNumber, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.RegisterationNumber, new { placeholder = "Registeration Number", Class = "span6" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(m => m.CountryId, new { Class = "control-label" })
                        <div class="controls">
                            @*@Html.DropDownList("CountryId", "Select Country")*@
                            @Html.DropDownList("CountryId", null, "Select Country", new { })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.RegionId, new { Class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("RegionId", null, "Select State", new { })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.City, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.City, new { placeholder = "City", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Address1, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address1, new { placeholder = "Address1", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Address2, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address2, new { placeholder = "Address2" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Email, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", Class = "span6" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(m => m.Password, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Phone1, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone1, new { placeholder = "Phone1", Class = "span6" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Phone2, new { Class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone2, new { placeholder = "Phone2", Class = "span6" })
                        </div>
                    </div>
                    <div class="form-actions no-margin">
                        @* <button type="submit" class="btn btn-info pull-right">
                                Create Organization
                            </button>*@
                        <a  name="submit" class="btn btn-primary" href="javascript:;" id="btnAddOrg">Add Organization</a>
                        <div class="clearfix">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function () {
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        //var form = $("#myform");
        //form.validate();
        $("#btnAddOrg").click(function (e) {
            var form = $("#myform");
            form.validate();
            if (!form.valid()) {
                e.preventDefault();
                return;
            }
            var $this = $(this);
            var objCandidate = $('#myform').serializeObject();

            $.ajax({
                url: '/Organization/AddOrganizations',
                cache: false,
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify(objCandidate),
                success: function (data) {
                    if (data == 'True') {
                        //redirect to view page
                        LoadAjax('ViewOrganizations');
                    }
                },
                error: function () { }
            });

        });
    });





    //This function is used to serialize a form into json object.
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name] = this.value || '';
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


</script>
